.libras-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 10px;
    background-color: #22D4FD;
    color: #000;
    border-radius: 10px;
    height: 55px;

    &--small {
        width: 287px;
    }

    &--large {
        width: 531px;
    }
}