.identify-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-style {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 10px;
    background-color: #22D4FD;
    color: #000;
    border-radius: 10px;
    height: 55px;
    width: 287px;
}