.identify-btn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.btn-style {
  background-color: #22d4fd;
  color: #000;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  height: 55px;
  width: 287px;
}

.identify-faq {
  cursor: pointer;
  font-size: 14px;
  margin-top: 30px;
  text-decoration: underline;
  color: #22d4fd;
}

.faq-div {
  margin-top: 30px;
}
