.redirect-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 1024px) {
    gap: 60px;
  }
}

.redirect-button {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 10px;
  color: white;
  border-radius: 10px;
  height: 55px;
  width: 350px;
  @media screen and (min-width: 1024px) {
    margin-top: 100px;
    width: 531px;
  }
}

.redirect-button.available {
  background-color: red;
  color: white;
}

.redirect-button.unavailable {
  background-color: blue;
  color: white;
}

.redirect-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
